<div class="jumbotron">
  <h1 class="display-4">Coding Material Review.</h1>
  <br>
  <p class="lead">プログラミング教材をレビューしよう</p>
  <hr class="my-4">
  <a class="btn btn-primary btn-lg" href="#" role="button">新規登録</a>
</div>