.jumbotron {
  background-image: url("bg-pc.jpg");
  background-size: cover;
  color:#fff;
  font-family: 'Kosugi Maru', sans-serif;
}

.navbar-light .navbar-brand {
  font-family: 'Kosugi Maru', sans-serif;
  color:rgba(0,0,0,0.5);
  font-size: 1.2rem;
}

.navbar-light .navbar-brand:hover {
  color:#f8f;
}

.navbar-light .navbar-nav .nav-link:hover {
  color:#f8f;
}

.newh1 {
  font-family: 'Kosugi Maru', sans-serif;
  font-size: 2.3rem;
  color:rgba(0,0,0,0.7);
}

.bc-gray {
  background-color: rgba(0,0,0,0.1);
  font-weight: bold;
}
.list-group-item {
  width: 100%;
}